Django==3.1
djangorestframework==3.11.1
django-rest-auth==0.9.5
django-cors-headers==3.5.0
psycopg2-binary==2.8.5
pandas==1.1.1
scikit-learn==0.23.2
joblib==0.16.0
gunicorn==20.0.4
spacy==2.3.5
numpy==1.19.4
git+ssh://git@github.com/Prabhat-git-99/text_process_prabhat99.git

