asgiref==3.3.1
beautifulsoup4==4.9.3
blis==0.7.4
catalogue==1.0.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cymem==2.0.5
dj-database-url==0.5.0
Django==3.1.4
django-cors-headers==3.6.0
django-heroku==0.3.1
djangorestframework==3.12.2
# en-core-web-lg==2.3.1
# en-core-web-sm==2.3.1
gunicorn==20.0.4
heroku==0.1.4
idna==2.10
joblib==1.0.0
murmurhash==1.0.5
nltk==3.5
numpy==1.19.4
pandas==1.1.5
plac==1.1.3
preshed==3.0.5
psycopg2==2.8.6
python-dateutil==1.5
pytz==2020.5
regex==2020.11.13
requests==2.25.1
scikit-learn==0.24.0
scipy==1.5.4
six==1.15.0
soupsieve==2.1
spacy==2.3.5
sqlparse==0.4.1
srsly==1.0.5
# text-process-prabhat99==0.0.1
textblob==0.15.3
thinc==7.4.5
threadpoolctl==2.1.0
tqdm==4.55.0
urllib3==1.26.2
wasabi==0.8.0
whitenoise==5.2.0
# git+https://github.com/explosion/spacy-models/releases/download/en_vectors_web_lg-2.1.0/en_vectors_web_lg-2.1.0.tar.gz#egg=en_core_web_sm
git+git://github.com/Prabhat-git-99/text_process_prabhat99.git
# -m spacy download en_core_web_md
en_core_web_lg